@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins font family */
@font-face {
  font-family: "PoppinsRegular";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}
